.country-list-item {
  width: 32%;
  margin-right: 10px;
  margin-bottom: 30px;
}

.thumbnail {
  width: 100%;
}

.visited-country-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f2f;
  margin: 0px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.visited-country-name {
  font-size: 20px;
  color: #ffffff;
  font-family: 'Roboto';
}

.remove-btn {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 5px;
  height: 4vh;
  cursor: pointer;
}
